{% extends 'base_teacher.html'%}
{%block title%}teacher home{%endblock%}

{%block content %}
<h1>change</h1>
<br><br>
<div style="width:500px ;">
    <form id="password-reset-form">
        <div id="alert"></div>
      
        <label for="password">Password</label>
        <input type="password" id="password" />
      
        <label for="password-verify">Re-type password</label>
        <input type="password" id="password-verify" />
      
        <button type="submit">Reset password</button>
      </form>
</div>
<br><br>
{%endblock%}
