{% extends 'base_teacher.html'%}
{%block title%}view student{%endblock%}
{%block content%}
<h1>view student</h1>

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        
        <th>Name</th>
        <th>sid</th>
        <th>Email</th>
        <th>phone</th>
        <th>gender</th>
        <th>dob</th>
        <th>parent name</th>
        <th>class teacher</th>
        <th>photo</th>
        <th>Actions</th>

      </tr>
    </thead>
    <tr>
        
    </tr>
    <tbody>
   
      
    </tbody>
  </table>
{%endblock%}