{% extends 'base_student.html'%}
{%block title%}view student{%endblock%}
{%block content%}
<h1>student change password</h1>
<br><br>
<div style="width:500px ;">
    <form id="password-reset-form" method="POST">
      {% csrf_token %}
        
        <label for="old password">old Password</label>
        <input type=" password" name="s_old_pwd" /><br>
      
        <label for="new password">new Password</label>
        <input type=" password" name="s_new_pwd" /><br>
      
        <label for="confirm password">password</label>
        <input type=" password" name="s_con_pwd" /><br>
      
        <button type="submit">Reset password</button>       
      </form>
      
      {{status}}
</div>
<br><br>

{%endblock%}