{% extends 'common\base.html'%}
{%block title%}adimn home{%endblock%}

{%block content %}
<style>
  .icon{
    
    padding:10px ;
  }
  #con{
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 200px;
    padding-left: 300px;
    padding-bottom: 200px;
   
  }
</style>
<div id="con" >
  <div class="icon">
    <a class="btn btn-outline-light btn-lg" href="{% url 'school_admin:add_teacher'%}" role="button" >ADD TEACHERS</a>
  </div>
  <div class="icon">
    <a class="btn btn-outline-light btn-lg" href="{% url 'school_admin:view_teacher'%}" role="button" >VIEW TEACHER</a>
  </div>
 <div class="icon">
  <a class="btn btn-outline-light btn-lg" href="{% url 'school_admin:view_student'%}" role="button" >VIEW STUDENT</a>
 </div>
 <div class="icon">
  <a class="btn btn-outline-light btn-lg" href="{% url 'school_admin:admin_profile'%}" role="button" >CHANGE PASSWORD</a>
 </div>
  
</div>

{%endblock%}
