{% extends 'common\base.html'%}
{%block title%}change password{%endblock%}

{%block content %}
<br>
<br>
 <!-- form card change password -->
 <div style="width:500px ;">
    <form id="password-reset-form">
        <div id="alert"></div>
      
        <label for="password">Password</label>
        <input type="password" id="password" />
      
        <label for="password-verify">Re-type password</label>
        <input type="password" id="password-verify" />
      
        <button type="submit">Reset password</button>
      </form>
</div>
<!-- /form card change password -->
<br><br>
{%endblock%}
