{% extends 'common\base.html'%}
{%block title%}view teacher{%endblock%}
{%block content%}
<h1>view teacher</h1>
<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        
        <th>Name</th>
        <th>tid</th>
        <th>Email</th>
        <th>phone</th>
        <th>gender</th>
        <th>dob</th>
        <th>qualification</th>
        <th>experience</th>
        <th>photo</th>
        <th>Actions</th>

      </tr>
    </thead>
    <tr>
        
    </tr>
    <tbody>
   
      
    </tbody>
  </table>
{%endblock%}